language: python
python: "2.7"
dist: trusty
cache: pip

before_install:
  - git clone https://github.com/SpiNNakerManchester/SupportScripts.git support
  # SpiNNakerManchester internal dependencies; development mode
  - support/pipinstall.sh git://github.com/SpiNNakerManchester/SpiNNUtils.git

install:
  - python ./setup.py install
  - pip install -r requirements-test.txt

script:
  - py.test .
  # Code quality check
  - flake8 spinn_machine unittests
  - cd doc/source
  - sphinx-build -T -E -b html -d _build/doctrees-readthedocsdirhtml -D language=en . _build/html
  - sphinx-build -T -b json -d _build/doctrees-json -D language=en . _build/json
  - sphinx-build -T -b singlehtml -d _build/doctrees-readthedocssinglehtmllocalmedia -D language=en . _build/localmedia
